$main-color: #d3ad7f;
$black: #13131a;
$bg: #010103;
$border: 0.1rem solid rgba(255, 255, 255, 0.3);
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: $bg;
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
  span {
    color: $main-color;
    text-transform: uppercase;
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: $main-color;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: $border;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .logo {
    img {
      height: 6rem;
    }
  }

  .navbar {
    a {
      margin: 0 1rem;
      font-size: 1.6rem;
      color: #fff;
    }
    a:hover {
      color: $main-color;
      border-bottom: 0.1rem solid $main-color;
      padding-bottom: 0.5rem;
    }
  }

  .icons {
    div {
      color: #fff;
      cursor: pointer;
      font-size: 2.5rem;
      margin-left: 2rem;
    }
    div:hover {
      color: $main-color;
    }
  }
  .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    input {
      height: 100%;
      width: 100%;
      font-size: 1.6rem;
      color: $black;
      padding: 1rem;
      text-transform: none;
    }

    label {
      cursor: pointer;
      font-size: 2.2rem;
      margin-right: 1.5rem;
      color: $black;
    }

    label:hover {
      color: $main-color;
    }
  }

  .search-form.active {
    transform: scaleY(1);
  }

  .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;

    .cart-item {
      position: relative;
      margin: 2rem 0;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .fa-times {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
        color: $black;
      }
      .fa-times:hover {
        color: $main-color;
      }
      img {
        height: 7rem;
      }
      .content {
        h3 {
          font-size: 2rem;
          color: $black;
          padding-bottom: 0.5rem;
        }
        .price {
          font-size: 1.5rem;
          color: $main-color;
        }
      }
    }
    .header .cart-items-container .btn {
      width: 100%;
      text-align: center;
    }
  }

  .cart-items-container.active {
    right: 0;
  }
}

#menu-btn {
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/home-img.jpeg) no-repeat;
  background-size: cover;
  background-position: center;

  .content {
    max-width: 60rem;
    h3 {
      font-size: 6rem;
      text-transform: uppercase;
      color: #fff;
    }
    p {
      font-size: 2rem;
      font-weight: lighter;
      line-height: 1.8;
      padding: 1rem 0;
      color: #eee;
    }
  }
}

.about {
  .row {
    display: flex;
    align-items: center;
    background: $black;
    flex-wrap: wrap;
    .image {
      flex: 1 1 45rem;
      img {
        width: 100%;
      }
    }
    .content {
      flex: 1 1 45rem;
      padding: 2rem;
      h3 {
        font-size: 3rem;
        color: #fff;
      }
      p {
        font-size: 1.6rem;
        color: #ccc;
        padding: 1rem 0;
        line-height: 1.8;
      }
    }
  }
}

.menu {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    .box {
      padding: 5rem;
      text-align: center;
      border: $border;
      img {
        height: 10rem;
      }
      h3 {
        color: #fff;
        font-size: 2rem;
        padding: 1rem 0;
      }
      .price {
        color: #fff;
        font-size: 2.5rem;
        padding: 0.5rem 0;
        span {
          font-size: 1.5rem;
          text-decoration: line-through;
          font-weight: lighter;
        }
      }
    }
    .box:hover {
      background: #fff;
    }
    .box:hover > * {
      color: $black;
    }
  }
}

.products {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    .box {
      text-align: center;
      border: $border;
      padding: 2rem;
      .image {
        padding: 2.5rem 0;
        img {
          height: 25rem;
        }
      }
      .icons {
        a {
          height: 5rem;
          width: 5rem;
          line-height: 5rem;
          font-size: 2rem;
          border: $border;
          color: #fff;
          margin: 0.3rem;
        }
        a:hover {
          background: $main-color;
        }
      }
      .content {
        h3 {
          color: #fff;
          font-size: 2.5rem;
        }
        .stars {
          padding: 1.5rem;
          i {
            font-size: 1.7rem;
            color: $main-color;
          }
        }
        .price {
          color: #fff;
          font-size: 2.5rem;
          span {
            text-decoration: line-through;
            font-weight: lighter;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.review {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    .box {
      border: $border;
      text-align: center;
      padding: 3rem 2rem;
      p {
        font-size: 1.5rem;
        line-height: 1.8;
        color: #ccc;
        padding: 2rem 0;
      }
      .user {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        object-fit: cover;
      }
      h3 {
        padding: 1rem 0;
        font-size: 2rem;
        color: #fff;
      }
      .stars {
        i {
          font-size: 1.5rem;
          color: $main-color;
        }
      }
    }
  }
}

// seguir contact linea: 403
/* media queries  */
.contact {
	.row {
		display: flex;
		background: $black;
		flex-wrap: wrap;
		gap: 1rem;
		.map {
			flex: 1 1 45rem;
			width: 100%;
			object-fit: cover;
		}
		form {
			flex: 1 1 45rem;
			padding: 5rem 2rem;
			text-align: center;
			h3 {
				text-transform: uppercase;
				font-size: 3.5rem;
				color: #fff;
			}
			.inputBox {
				display: flex;
				align-items: center;
				margin-top: 2rem;
				margin-bottom: 2rem;
				background: $bg;
				border: $border;
				span {
					color: #fff;
					font-size: 2rem;
					padding-left: 2rem;
				}
				input {
					width: 100%;
					padding: 2rem;
					font-size: 1.7rem;
					color: #fff;
					text-transform: none;
					background: none;
				}
			}
		}
	}
}
.blogs {
	.box-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		gap: 1.5rem;
		.box {
			border: $border;
			.image {
				height: 25rem;
				overflow: hidden;
				width: 100%;
				img {
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
			&:hover {
				.image {
					img {
						transform: scale(1.2);
					}
				}
			}
			.content {
				padding: 2rem;
				.title {
					font-size: 2.5rem;
					line-height: 1.5;
					color: #fff;
					&:hover {
						color: $main-color;
					}
				}
				span {
					color: $main-color;
					display: block;
					padding-top: 1rem;
					font-size: 2rem;
				}
				p {
					font-size: 1.6rem;
					line-height: 1.8;
					color: #ccc;
					padding: 1rem 0;
				}
			}
		}
	}
}
.footer {
	background: $black;
	text-align: center;
	.share {
		padding: 1rem 0;
		a {
			height: 5rem;
			width: 5rem;
			line-height: 5rem;
			font-size: 2rem;
			color: #fff;
			border: $border;
			margin: .3rem;
			border-radius: 50%;
			&:hover {
				background-color: $main-color;
			}
		}
	}
	.links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 2rem 0;
		gap: 1rem;
		a {
			padding: .7rem 2rem;
			color: #fff;
			border: $border;
			font-size: 2rem;
			&:hover {
				background: $main-color;
			}
		}
	}
	.credit {
		font-size: 2rem;
		color: #fff;
		font-weight: lighter;
		padding: 1.5rem;
		span {
			color: $main-color;
		}
	}
  h2{
    color: white;
  }
}
@media (max-width:991px) {
	html {
		font-size: 55%;
	}
	.header {
		padding: 1.5rem 2rem;
	}
	section {
		padding: 2rem;
	}
}
@media (max-width:768px) {
	#menu-btn {
		display: inline-block;
	}
	.header {
		.navbar {
			position: absolute;
			top: 100%;
			right: -100%;
			background: #fff;
			width: 30rem;
			height: calc(100vh - 9.5rem);
			a {
				color: $black;
				display: block;
				margin: 1.5rem;
				padding: .5rem;
				font-size: 2rem;
			}
		}
		.navbar.active {
			right: 0;
		}
		.search-form {
			width: 90%;
			right: 2rem;
		}
	}
	.home {
		background-position: left;
		justify-content: center;
		text-align: center;
		.content {
			h3 {
				font-size: 4.5rem;
			}
			p {
				font-size: 1.5rem;
			}
		}
	}
}
@media (max-width:450px) {
	html {
		font-size: 50%;
	}
}

